# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Folders
.vs/
Debug/
Release/

# Executables
*.exe
*.out
*.app
*.suo
*.json
*.sqlite
*.tlog
*.pdb
*.idb
NYP_Framework/App/App.vcxproj
NYP_Framework/App/App.vcxproj.filters
NYP_Framework/App/Debug/App.Build.CppClean.log
NYP_Framework/App/Debug/App.exe.recipe
NYP_Framework/App/Debug/App.log
NYP_Framework/App/imgui.ini
NYP_Framework/Library/Debug/Library.Build.CppClean.log
NYP_Framework/Library/Debug/Library.log
